* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(
      243deg,
      #fdc5c5 25.45%,
      rgba(242, 152, 222, 0) 100%
    ),
    linear-gradient(243deg, #ffa5a5 32.96%, rgba(255, 255, 255, 0) 82.03%),
    #f39494;
  font-family: "Open Sans", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  border-radius: 10px;
  border: 1px solid #000;
  background: #fffefe;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  max-width: 582px;
}

input {
  padding-left: 11px;
  font-size: 16px;
  font-weight: 400;
}

.enter {
  margin-top: -60px;
}

header h1 {
  font-size: 36px;
  font-weight: 700;
  padding: 72px;
  margin: 0;
}

header p {
  font-size: 18px;
  font-weight: 400;
  color: #666666;
}
header a {
  margin-left: 30px;
  color: #089fe0;
  font-size: 18px;
  line-height: normal;
  text-decoration-line: underline;
}

.main_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 95px 132px 95px;
}

.company {
  padding-bottom: 21px;
}
.company input[type="text"] {
  width: 394px;
  height: 44px;
  border-radius: 5px;
  border: 1px solid #f5f5f5;
  background: #fff;
}

.company input::placeholder {
  color: #333;
  font-family: "Open Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
}
input::placeholder {
  padding-left: 11px;
}

.name {
  display: flex;
  justify-content: space-between;
  width: 400px;
  height: 44px;
  border: none;
  margin-bottom: 21px;
  margin-top: 21;
}

.name input[type="text"] {
  flex: 1;
  margin-right: 1px;
  background: #f5f5f5;
  border: none;
  border-radius: 5px;
}

.name input::placeholder {
  color: #999;
  font-size: 16px;
  font-family: "Open Sans";
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
}

.email {
  padding-bottom: 21px;
}
.email input[type="email"] {
  width: 394px;
  height: 44px;
  flex-shrink: 0;
  border-radius: 5px;
  background: #f5f5f5;
  border: none;
}
.email input::placeholder {
  color: #999;
  font-family: "Open Sans";
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
}

.register input[type="submit"] {
  background-color: #089fe0;
  color: #fff;
  border-radius: 5px;
  border: none;
  background: #089fe0;
  width: 394px;
  height: 44px;
  color: #fff;
  text-align: center;
  font-family: "Open Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.text {
  color: #666;
  font-family: "Open Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

a {
  color: #089fe0;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  text-decoration: none;
}

/* Footer styles */
.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-top: 21px;
}

.footer label .text {
  margin-left: 8px;
}

.footer a {
  color: #089fe0;
  font-family: "Open Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}
